body{
    background-color: rgb(73, 73, 73)
}

#p1{
    background-color: rgb(242, 79, 79);
}

#p2{
    background-color: rgb(245, 245, 35);
}

#p3{
    background-color: rgb(44, 235, 98);
}

#p4{
    background-color: rgb(177, 37, 247);
}